In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import calendar
import warnings
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import pickle
from sklearn.model_selection import train_test_split

plt.rcParams['figure.figsize'] = (8, 8)
warnings.filterwarnings("ignore")

df = pd.read_csv("Bank Fraud/banktransaction.csv")
df = pd.get_dummies(df, columns=['typeofaction'])
y = df['isfraud']
y_type = df['typeoffraud']
df = df.drop(columns=['date','typeoffraud','isfraud','typeofaction_transfer'])
X = df.copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

class_weights = {0: 0.3, 1: 0.7}  
rf = RandomForestClassifier(class_weight=class_weights, random_state=42)
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2, scoring='recall')
grid_search.fit(X_train, y_train)
best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_

with open('models/best_random_forest_model.pkl', 'wb') as file:
    pickle.dump(best_estimator, file)

Fitting 3 folds for each of 108 candidates, totalling 324 fits

In [11]:
best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_
print(f"Best Parameters: {best_params}")

y_pred = best_estimator.predict(X_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(classification_report(y_test, y_pred))

Best Parameters: {'max_depth': 10, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 50}
Accuracy: 0.9551282051282052
              precision    recall  f1-score   support

           0       0.99      0.89      0.94       180
           1       0.94      0.99      0.96       288

    accuracy                           0.96       468
   macro avg       0.96      0.94      0.95       468
weighted avg       0.96      0.96      0.95       468

In [14]:
X_test

      sourceid  destinationid  amountofmoney  typeofaction_cash-in
218      82688          87880         292038                     1
1825     48799          89984        4333353                     0
1840     71760           6225        4187465                     0
478      62633          51413        7259213                     0
1199     86344          86903         215499                     0
...        ...            ...            ...                   ...
185      41220          21809        1769355                     1
1917      6890          64136         184924                     0
508      28424          17067        7130066                     0
2316      3226          43793         106906                     0
1043      5927          78494         671096                     0

[468 rows x 4 columns]

In [15]:
df = pd.DataFrame()

In [16]:
df

Empty DataFrame
Columns: []
Index: []